<configuration>
    <packageSources>    
        <clear />
        <add key="AlbanianXrm.CDSProj.Sdk" value="..\AlbanianXrm.CDSProj.Sdk\bin\Debug" />
        <add key="AlbanianXrm.CDSProj.Sdk.Unix" value="../AlbanianXrm.CDSProj.Sdk/bin/Debug" />
        <add key="AlbanianXrm.PCFProj.Sdk" value="..\AlbanianXrm.PCFProj.Sdk\bin\Debug" />
        <add key="AlbanianXrm.PCFProj.Sdk.Unix" value="../AlbanianXrm.PCFProj.Sdk/bin/Debug" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
</configuration>